<div class="app">
        <div class="container padTop">
                <div class="row">
                    <div class="col-md-4 sidebar">
                        <button class="tab" [style.font-size.px]="fontSize">Tab 1</button>
                        <button class="tab" [style.font-size.px]="fontSize">Tab 2</button>
                        <button class="tab" [style.font-size.px]="fontSize">Tab 3</button>
                        <button class="tab" [style.font-size.px]="fontSize">Tab 4</button>
            
                        <div class="row">
                            <div class="col-xs-12">
                                    <input type="range" name="rangeInput" min="0" max="100" (change)="updateFont($event);">
                            </div>
                        </div>
                    </div>
            
            
                    <div class="col-md-8 main-content">
                        <div class="main">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="img-container">
                                    <img src="https://res.cloudinary.com/people-matters/image/upload/q_auto,f_auto/v1515937789/1515937787.jpg" alt="someImage">
                                </div>
                            </div>
                            <div class="content">
                                <div class="col-xs-12">
                                    <p class="text-center main-content">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis minus assumenda explicabo facere consequatur deleniti incidunt ut repellat repellendus, pariatur distinctio commodi, tempore non ex quisquam. Similique quibusdam dolor repudiandae?
                           
                                    </p>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="list-container">
                                    <h4>List Items</h4>
                                    <div class="item" *ngFor="let item of listItems; let i = index" [attr.data-index]="i">
                                            <button class="btn-danger btn-xs" (click)="deleteItem(i)" >X</button>  List item {{item}}
                                    </div>
            
                                    <div class="action">
                                    <button class="btn btn-lg btn-success" (click)="addItem()">Add More</button>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>